# Test Report: `test_file_generation.FileGenerationTests.test_copy_and_rename_file_copies_matching_files`

- Status: **PASS**
- Timestamp: `2026-03-29T14:34:50`
- Artifact folder: `c:/gh/oomlout_oobb_version_5/tests/test_runs/test_file_generation_FileGenerationTests_test_copy_and_rename_file_copies_matching_files`
